<h1> Here are the list of all the articles </h1>

<li><%= link_to "List of author's", users_path %></li>




<% if logged_in? %>
    
    <li><%= link_to "Log out", logout_path, method: :delete %></li>
<% else %>
    <li><%= link_to "Log in", login_path %></li>
    <li><%= link_to "Sign up", signup_path %></li>
<% end %>

<%= render 'article', obj: @articles %>




 